<div>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <div class="navbar-on">
    <div class="thanhcongcu">
      <div class="edit5the">
        <p style="font-size: 30px">Short Chat</p>
        <div class="editthe1">
          <div id="the1">
            <span class="material-symbols-outlined"> add_circle </span>
            <!-- <img style="width: 30px; height: 30px;" src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-700.png" alt=""> -->
            <p>Resume</p>
          </div>
        </div>
        <div id="the2">
          <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          />
          <span class="material-symbols-outlined"> person </span>
          <p>Contacts</p>
        </div>
        <div id="the3">
          <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          />
          <span class="material-symbols-outlined"> monitoring </span>
          <p>Statistic</p>
        </div>
        <div id="the4">
          <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          />
          <span class="material-symbols-outlined"> chat </span>
          <p>Chats</p>
        </div>
        <div id="the5">
          <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          />
          <span class="material-symbols-outlined"> widgets </span>
          <p>Setting</p>
        </div>
      </div>
      <div class="edit3icon">
        <div class="editicon1">
          <div id="icon1">
            <link
              rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
            <span class="material-symbols-outlined"> toggle_on </span>
          </div>
        </div>
        <div class="editicon2">
          <div id="icon2">
            <link
              rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
            <span class="material-symbols-outlined"> call </span>
          </div>
        </div>
        <div class="editicon3">
          <div id="icon3">
            <link
              rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
            <span class="material-symbols-outlined"> notifications </span>
          </div>
        </div>
      </div>
      <div id="avatar">
        <p>Kamado Tanjirō</p>
        <img
          style="width: 45px; height: 45px"
          src="https://gamek.mediacdn.vn/133514250583805952/2020/2/6/photo-1-1580968606455707165360.jpg"
          alt=""
        />
      </div>
      <div></div>
    </div>
    <div class="phan-giua">
      <div class="navbar-left">
        <div class="edithieuung">
          <div class="pinned">
            <link
              rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
            <span class="material-symbols-outlined"> mark_email_unread </span>
            <p>Pinned</p>
          </div>
          <div class="all">
            <link
              rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
            <span class="material-symbols-outlined"> chat </span>
            <p>All</p>
          </div>
          <div class="livechat">
            <link
              rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
            <span class="material-symbols-outlined"> live_tv </span>
            <p>Live Chat</p>
          </div>
          <div class="archived">
            <link
              rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
            <span class="material-symbols-outlined"> bookmark </span>
            <p>Archived</p>
          </div>
          <div class="blocked">
            <link
              rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
            <span class="material-symbols-outlined"> block </span>
            <p>Blocked</p>
          </div>
          <div class="trash">
            <link
              rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
            <span class="material-symbols-outlined"> delete </span>
            <p>Trash</p>
          </div>
        </div>
        <div class="text"></div>
      </div>
      <div class="bentrai">
        <div class="editsearch">
          <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          />
          <span class="material-symbols-outlined"> search </span>
          <p></p>
          <!-- <label for="search"></label>
                    <input type="search" value="" name="search" size="60">
                    placeholder="Search"><br> -->
        </div>

        <div class="edit5chat">
          <div class="chat1">
            <img
              style="width:45px; height: 45px"
              src="https://i.pinimg.com/736x/4d/94/26/4d942615efb45071a3e8601a24cc1618.jpg"
              alt=""
            />
            <div class="doanchat1">
              <p>Agatsuma Zenitsu</p>
              <p style="color: gray;"> You: FreennnnnSarocha</p>
            </div>
          </div>
          <div class="chat2">
            <img
              style="width: 45px; height: 45px"
              src="https://cdnb.artstation.com/p/assets/images/images/036/749/839/large/brittany-cox-img-0077.jpg?1618506255"
              alt=""
            />
            <div class="doanchat2">
              <p>Kamado Nezuko</p>
              <p style="color: gray;">You: Alooooooooooooo</p>
            </div>
          </div>
          <div class="chat3">
            <img
              style="width: 45px; height: 45px"
              src="https://i.pinimg.com/originals/68/a1/2f/68a12fa29c319f45ced2e9b4ca944918.png"
              alt=""
            />
            <div class="doanchat3">
              <p>Hashibira Inosuke</p>
              <p style="color: gray;">You: Okkkkkkkkkkk ní nè</p>
            </div>
          </div>
          <div class="chat4">
            <img
              style="width: 45px; height: 45px"
              src="https://i.pinimg.com/736x/e6/f2/4b/e6f24bf0d780c4291e65a4081ed01325.jpg"
              alt=""
            />
            <div class="doanchat4">
              <p>Tsuyuri Kanao</p>
              <p style="color: gray;"> You: Hông pé ơi, em ko fl</p>
            </div>
          </div>
          <div class="chat5">
            <img
              style="width: 45px; height: 45px"
              src="https://sketchok.com/images/articles/06-anime/026-demon-slayer/01/14.jpg"
              alt=""
            />
            <div class="doanchat5">
              <p>Shinazugawa Genya</p>
              <p style="color: gray;">You: Uống nâu lắc ko pà?</p>
            </div>
          </div>
          <div class="chat6">
            <img
              style="width: 45px; height: 45px"
              src="https://i.pinimg.com/564x/64/b7/08/64b7088907cf458a5d6041bdf65107a4.jpg"
              alt=""
            />
            <div class="doanchat6">
              <p>Tomioka Giyū</p>
              <p style="color: gray;">You: Đi Thái Lẻn khum????</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="giua">
        <div class="editgiua">
          <div class="dau">
            <div class="editphoto">
              <div class="photo1">
                <img style="width: 50px; height: 50px;" src="https://i.pinimg.com/736x/4d/94/26/4d942615efb45071a3e8601a24cc1618.jpg" alt="">
              </div>
              <div class="ten">
                <p style="color: white;">Agatsuma Zenitsu</p>
              </div>
            </div>
            <div class="iconcall">
              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
              <span class="material-symbols-outlined">
                wifi_calling_3
                </span>
            </div>
            <div class="iconvideo"> 
              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
              <span class="material-symbols-outlined">
                videocam
                </span>
            </div>
          </div>
          <div class="than">
            <div *ngFor="let chat of (chats$|async)" [ngClass]="{'from': chat.from === fromUID}">
              <div class="content-holder" >
                <p>{{chat.message}}</p>
              </div>
          </div>
          </div>
          <div class="guitinnhan"> 
            <input class="nhap" type="text" [(ngModel)]="message">
            <div class="mic">
              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
              <span class="material-symbols-outlined">
                mic
                </span>
            </div>
            <div class="camera">
              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
              <span class="material-symbols-outlined">
                photo_camera
                </span>
            </div>
            <div class="photo">
              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
              <span class="material-symbols-outlined">
                photo
                </span>
            </div>
            <div></div>
            <div></div>
            <button id="sendMessage" (click)="sendMessage()">Send</button>

          </div>
        </div>
      </div>
      <div class="benphai">
        <div class="text2">
          <div class="avatarthongtin">
            <img
              style="width: 45px; height: 45px"
              src="https://i.pinimg.com/736x/4d/94/26/4d942615efb45071a3e8601a24cc1618.jpg"
              alt=""
            />
            <p>Agatsuma Zenitsu</p>
            <p></p>
          </div>
          <div class="iconlist">
            <div class="editiconlist">
              <div class="editcall">
                <div class="call">
                  <link
                    rel="stylesheet"
                    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
                  />
                  <span class="material-symbols-outlined"> phone_in_talk </span>
                </div>
              </div>
              <div class="editcallvideo">
                <div class="callvideo">
                  <link
                    rel="stylesheet"
                    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
                  />
                  <span class="material-symbols-outlined"> video_call </span>
                </div>
              </div>
              <div class="editmute">
                <div class="tattieng">
                  <link
                    rel="stylesheet"
                    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
                  />
                  <span class="material-symbols-outlined"> volume_off </span>
                </div>
              </div>
              <div class="editsave">
                <div class="save">
                  <link
                    rel="stylesheet"
                    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
                  />
                  <span class="material-symbols-outlined"> push_pin </span>
                </div>
              </div>
            </div>
            <div class="textthongtin">
              <p style="color: greenyellow;">...Online</p>
              <p>Personal page</p>
            </div>
          </div>
        </div>
        <div class="editthongtin">
          <div class="a">
            <p>Information about the chat</p>
            <p style="color: gray;">Additional options</p>
          </div>
          <div class="b">
            <p>Chat options</p>
            <p style="color: gray;">Additional options</p>
          </div>
          <div class="c">
            <p>Media files, files and links</p>
            <p style="color: gray;">Additional options</p>
          </div>
          <div class="d">
            <p>Privacy & support</p>
            <p style="color: gray;">Additional options</p>
          </div>
          <p>________________</p>
        </div>
      </div>
    </div>
  </div>
</div>
